input[type='text']::placeholder {
  background-color: rgba(247, 237, 250, 0.993);
  border: solid 1px;
  text-align: center;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

#searchBar {
  margin-top: 20px;
  width: 25%;
  margin-right: 10px;
}

#searchButton {
  width: 15%;
  background-color: #08abfd;
  margin-top: 20px;
}

#grid {
  justify-content: center;
  display: grid;
  height: 600px;
  grid-template-columns: 30%;
  grid-template-rows: 50px, 1fr;
  grid-template-rows: auto;

  row-gap: 20px;
}

#grid > div {
  border: 1px solid rgb(61, 190, 249);
  background-color: rgb(253, 255, 253);
}
